
@import "https://fonts.googleapis.com/css?family=Inter:0,700;0,500;0,undefined;0,400&display=swap";

.AdminPanel_1_2646 {
  background: var(
    --GradienteFundoGeral,
    radial-gradient(127.49% 127.49% at 6.68% 10.47%, #f0f7ff 0%, #afc7e0 100%)
  );
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

.HeaderAdmin_1_2647 {
  background: var(--FundoBranco, #fff);
  justify-content: center;
  align-items: center;
  gap: 189px;
  height: 100px;
  width: 100%;
  display: flex;
  box-shadow: 0 1px 2px #0000001a;
}

.Div_1_4407 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  height: 42.667px;
  padding: 0 23.396px 0 5.021px;
  display: flex;
}

.LogoSorvetao_2_1_4408 {
  aspect-ratio: 178/54.59;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 178px;
  height: 54.5902px;
  display: flex;
  overflow: hidden;
}

.Vector_1_4409 {
  fill: var(--Cor1A, #e73664);
  flex-shrink: 0;
  width: 57.853px;
  height: 10.206px;
}

.Group_1_4410 {
  flex-shrink: 0;
  width: 172.942px;
  height: 30.615px;
}

.Div_1_4422 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  gap: 28px;
  height: 80.7778px;
  padding: 7px 0;
  display: flex;
  overflow: hidden;
}

.NavMenuItem_1_4423 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.556px;
  width: 49.778px;
  height: 66.778px;
  padding-bottom: 2.444px;
  display: flex;
}

.IconContainer_1_4265 {
  background: var(--Cor1A, #e73664);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 49.778px;
  height: 49.778px;
  padding: 14.222px;
  display: flex;
  box-shadow:
    0 1.778px 3.556px #0000001a,
    0 3.556px 5.333px #0000001a,
    0 0 #e7366433,
    0 0 #fff;
}

.I_1_4266 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4267 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Frame_1_4268 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 21.333px;
  height: 21.3333px;
  overflow: hidden;
}

.Painel_1_4270 {
  color: var(--Cor1A, #e73664);
  width: 32px;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 10.667px;
  display: inline-block;
}

.NavMenuItem_1_4424 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  width: 49.778px;
  display: flex;
}

.IconContainer_1_4381 {
  background: var(--Cor3A, #f1e6e2);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 49.778px;
  padding: 14.222px;
  display: flex;
  box-shadow: 0 1.778px 3.556px #0000001a;
}

.I_1_4382 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4383 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.I_1_4384 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4385 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 21.333px;
  display: flex;
}

.Frame_1_4386 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 24px;
  height: 21.3333px;
  overflow: hidden;
}

.Produtos_1_4388 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 10.667px;
  display: inline-block;
}

.NavMenuItem_1_4425 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  width: 49.778px;
  display: flex;
}

.IconContainer_1_4354 {
  background: var(--Cor3A, #f1e6e2);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 49.778px;
  padding: 14.222px;
  display: flex;
  box-shadow: 0 1.778px 3.556px #0000001a;
}

.I_1_4355 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4356 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.I_1_4357 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 26.667px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4358 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 26.667px;
  height: 21.333px;
  display: flex;
}

.Frame_1_4359 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 26.667px;
  height: 21.3333px;
  overflow: hidden;
}

.Clientes_1_4361 {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 10.667px;
  display: inline-block;
}

.NavMenuItem_1_4426 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  width: 49.778px;
  display: flex;
}

.IconContainer_1_4327 {
  background: var(--Cor3A, #f1e6e2);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 49.778px;
  padding: 14.222px;
  display: flex;
  box-shadow: 0 1.778px 3.556px #0000001a;
}

.I_1_4328 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4329 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4330 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 21.333px;
  display: flex;
}

.Frame_1_4331 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 16px;
  height: 21.3333px;
  overflow: hidden;
}

.Pedidos_1_4333 {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 10.667px;
  display: inline-block;
}

.NavMenuItem_1_4427 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 60px;
  display: flex;
}

.IconContainer_1_4299 {
  background: var(--Cor3A, #f1e6e2);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  justify-content: center;
  align-items: center;
  width: 49.778px;
  height: 49.778px;
  padding: 14.222px;
  display: flex;
  box-shadow: 0 1.778px 3.556px #0000001a;
}

.I_1_4300 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4301,
.Svg_1_4302 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Frame_1_4303 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 21.333px;
  height: 21.3333px;
  overflow: hidden;
}

.Financeiro_1_4305 {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 10.667px;
  display: inline-block;
}

.NavMenuItem_1_4428 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 49.778px;
  display: flex;
}

.IconContainer_1_4273 {
  background: var(--Cor3A, #f1e6e2);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 49.778px;
  padding: 14.222px;
  display: flex;
  box-shadow: 0 1.778px 3.556px #0000001a;
}

.I_1_4274 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Svg_1_4275,
.Svg_1_4276 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 21.333px;
  height: 21.333px;
  display: flex;
}

.Frame_1_4277 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 21.333px;
  height: 21.3333px;
  overflow: hidden;
}

.Opções_1_4279 {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 10.667px;
  display: inline-block;
}

.Div_1_4429 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 9.14575px;
  height: 35.556px;
  padding-right: 20px;
  display: flex;
}

.Div_1_4430 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  display: flex;
}

.JoãoAdministrador_1_4431 {
  color: #374151;
  width: 116.444px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.444px;
  display: inline-block;
}

.Img_1_4432 {
  border: 1.778px solid var(--Cor1A, #e73664);
  box-sizing: border-box;
  background: #d3d3d3;
  border-radius: 8888px;
  width: 35.556px;
  height: 35.556px;
}

.Button_1_4433 {
  background: var(--FundoClaro, #f0f7ff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  justify-content: center;
  align-items: center;
  width: 35.556px;
  height: 35.556px;
  padding: 10.667px;
  display: flex;
}

.I_1_3655 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 14.222px;
  height: 14.222px;
  display: flex;
}

.Svg_1_3656 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 14.222px;
  height: 14.222px;
  display: flex;
}

.Frame_1_3657 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 14.222px;
  height: 14.2222px;
  overflow: hidden;
}

.Frame_1_2648 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
}

.Body_1_2649 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  align-items: flex-start;
  width: 1138px;
  display: flex;
}

.Div_1_2651 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  gap: 661px;
  width: 1138px;
  height: 100px;
  padding: 0 14px;
  display: flex;
}

.PainelDoSistema_1_2652 {
  color: #1f2937;
  flex-shrink: 0;
  width: 251px;
  height: 28px;
  font-family: Inter;
  font-size: 26.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.667px;
  display: inline-block;
}

.Button_1_2653 {
  background: var(--Cor1A, #e73664);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6.88897px;
  height: 50px;
  padding: 17px 24px 18px 14.222px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.I_1_2654 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.889px;
  height: 12.444px;
  display: flex;
}

.Svg_1_2655 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 10.889px;
  height: 12.444px;
  display: flex;
}

.Frame_1_2656 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 10.889px;
  height: 12.4444px;
  overflow: hidden;
}

.CriarNovoPedido_1_2658 {
  color: var(--FundoBranco, #fff);
  text-align: center;
  width: 125px;
  height: 15px;
  font-family: Inter;
  font-size: 14.222px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}

.Main_1_2650 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 1138px;
  display: flex;
}

.Section_1_2659 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  gap: 23.9998px;
  width: 1138px;
  height: 128px;
  display: flex;
}

.Div_1_2660 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 266.667px;
  height: 128px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.Div_1_2661 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 10.6667px;
  padding-right: 102.222px;
  display: flex;
}

.Div_1_2662 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  justify-content: center;
  align-items: center;
  width: 35.556px;
  height: 35.556px;
  padding: 9.778px 0;
  display: flex;
}

.I_1_2663 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 16px;
  display: flex;
}

.Svg_1_2664 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 16px;
  display: flex;
}

.Frame_1_2665 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 10px;
  height: 16px;
  overflow: hidden;
}

.VendasTotais_1_2667 {
  color: #6b7280;
  width: 82.667px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.Div_1_2668 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 28.444px;
  padding: 0.889px 124.444px 1.778px 0;
  display: inline-flex;
}

.R_47_600_1_2669 {
  color: #1f2937;
  width: 106.667px;
  height: 25.778px;
  font-family: Inter;
  font-size: 21.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.Div_1_2670 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  width: 231.111px;
  padding: 0 181.111px 1.222px 0;
  display: flex;
}

.MêsAtual_1_2671 {
  color: #9ca3af;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2672 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 266.667px;
  height: 128px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.Div_1_2673 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 10.6666px;
  padding-right: 96px;
  display: flex;
}

.Div_1_2674 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  justify-content: center;
  align-items: center;
  width: 35.556px;
  height: 35.556px;
  padding: 9.778px 8.778px;
  display: flex;
}

.I_1_2675 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 16px;
  display: flex;
}

.Svg_1_2676 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 16px;
  display: flex;
}

.Frame_1_2677 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 18px;
  height: 16px;
  overflow: hidden;
}

.NovosPedidos_1_2679 {
  color: #6b7280;
  width: 88.889px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.Div_1_2680 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  width: 231.111px;
  height: 28.444px;
  padding: 0.889px 205.333px 1.778px 0;
  display: flex;
}

.generated_14_1_2681 {
  color: #1f2937;
  flex-shrink: 0;
  width: 25.778px;
  height: 25.778px;
  font-family: Inter;
  font-size: 21.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.Div_1_2682 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  padding: 0 132.111px 1.222px 0;
  display: inline-flex;
}

.HojeEstaSemana_1_2683 {
  color: #9ca3af;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2684 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 266.667px;
  height: 128px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.Div_1_2685 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 10.6666px;
  padding-right: 96.889px;
  display: flex;
}

.Div_1_2686 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  justify-content: center;
  align-items: center;
  width: 35.556px;
  height: 35.556px;
  padding: 9.778px 7.778px;
  display: flex;
}

.I_1_2687 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 16px;
  display: flex;
}

.Svg_1_2688 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 16px;
  display: flex;
}

.Frame_1_2689 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 20px;
  height: 16px;
  overflow: hidden;
}

.ClientesAtivos_1_2691 {
  color: #6b7280;
  width: 88px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.Div_1_2692 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  width: 231.111px;
  height: 28.444px;
  padding: 0.889px 203.556px 1.778px 0;
  display: flex;
}

.generated_28_1_2693 {
  color: #1f2937;
  flex-shrink: 0;
  width: 27.556px;
  height: 25.778px;
  font-family: Inter;
  font-size: 21.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.Div_1_2694 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  width: 231.111px;
  padding: 0 181.111px 1.222px 0;
  display: flex;
}

.MêsAtual_1_2695 {
  color: #9ca3af;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2696 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 266.667px;
  height: 128px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.Div_1_2697 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 10.6666px;
  padding-right: 45.333px;
  display: flex;
}

.Div_1_2698 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  justify-content: center;
  align-items: center;
  width: 35.556px;
  height: 35.556px;
  padding: 9.778px 8.778px;
  display: flex;
}

.I_1_2699 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 16px;
  display: flex;
}

.Svg_1_2700 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 16px;
  display: flex;
}

.Frame_1_2701 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 18px;
  height: 16px;
  overflow: hidden;
}

.PagamentosPendentes_1_2703 {
  color: #6b7280;
  width: 139.556px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.Div_1_2704 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 28.444px;
  padding: 0.889px 125.333px 1.778px 0;
  display: inline-flex;
}

.R_12_850_1_2705 {
  color: #1f2937;
  width: 105.778px;
  height: 25.778px;
  font-family: Inter;
  font-size: 21.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.Div_1_2706 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  align-items: center;
  padding: 0 150.111px 1.222px 0;
  display: inline-flex;
}

.DePedidosB2B_1_2707 {
  color: #9ca3af;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2708 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 49.9999px;
  height: 459px;
  padding-right: 0;
  display: flex;
}

.Div_1_2709 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 21.3333px;
  width: 732.444px;
  height: 458.667px;
  padding: 21.333px 21.333px 124.444px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.Div_1_2710 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-end;
  gap: 358.875px;
  height: 24.889px;
  padding: 2.667px 0 3.556px;
  display: flex;
}

.TendênciaDeReceitaDeVendas_1_2711 {
  color: #1f2937;
  width: 251.556px;
  height: 18.667px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  display: inline-block;
}

.Div_1_2712 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  justify-content: center;
  align-items: center;
  height: 14.222px;
  padding-bottom: 1.222px;
  display: flex;
}

.ltimos_30Dias_1_2713 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2714 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 689.778px;
  height: 266.667px;
  display: flex;
}

.Canvas_1_2715 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  width: 689.778px;
  height: 266.667px;
}

.Div_1_2716 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 355.556px;
  height: 458.667px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.H2_1_2717 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 24.889px;
  padding: 2.667px 171.555px 3.556px 0;
  display: inline-flex;
}

.AtividadeRecente_1_2718 {
  color: #1f2937;
  width: 141.333px;
  height: 18.667px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}

.Div_1_2719 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  width: 312.889px;
  height: 209.778px;
}

.PedidosRecentes_1_2720 {
  color: #6b7280;
  flex-shrink: 0;
  width: 107.556px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.444px;
  display: inline-block;
}

.Frame_1_2721 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 12.444px;
  height: 12.4444px;
  display: flex;
  overflow: hidden;
}

.Frame_1_2722 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 12.444px;
  height: 12.4444px;
  overflow: hidden;
}

.Div_1_2724 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 181.333px;
  display: flex;
}

.Div_1_2725 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 53.333px;
  padding: 10.667px 87.069px 10.667px 10.667px;
  display: flex;
}

.Div_1_2726 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 28.444px;
  height: 28.444px;
  padding: 8.889px 9.556px;
  display: flex;
}

.I_1_2727 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 9.333px;
  height: 10.667px;
  display: flex;
}

.Svg_1_2728 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 9.333px;
  height: 10.667px;
  display: flex;
}

.Frame_1_2729 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 9.333px;
  height: 10.6667px;
  overflow: hidden;
}

.Div_1_2731 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 176.042px;
  height: 32px;
  display: flex;
}

.Div_1_2732 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 176.042px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.Pedido_534DelíciasDoces_1_2733 {
  color: #1f2937;
  flex-shrink: 0;
  width: 176.889px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Div_1_2734 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 14.222px;
  padding: 0 79.042px 1.222px 0;
  display: flex;
}

.EmProcessamento_1_2735 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2736 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 53.333px;
  padding: 10.667px 81.805px 10.667px 10.667px;
  display: flex;
}

.Div_1_2737 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 28.444px;
  height: 28.444px;
  padding: 8.889px 9.556px;
  display: flex;
}

.I_1_2738 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 9.333px;
  height: 10.667px;
  display: flex;
}

.Svg_1_2739 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 9.333px;
  height: 10.667px;
  display: flex;
}

.Frame_1_2740 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 9.333px;
  height: 10.6667px;
  overflow: hidden;
}

.Div_1_2742 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 181.306px;
  height: 32px;
  display: flex;
}

.Div_1_2743 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 181.306px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.Pedido_533ParaísoDoGelo_1_2744 {
  color: #1f2937;
  flex-shrink: 0;
  width: 182.222px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Div_1_2745 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 14.222px;
  padding: 0 141.306px 1.222px 0;
  display: flex;
}

.Enviado_1_2746 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2747 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 53.333px;
  padding: 10.667px 44.68px 10.667px 10.667px;
  display: flex;
}

.Div_1_2748 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 28.444px;
  height: 28.444px;
  padding: 8.889px 9.556px;
  display: flex;
}

.I_1_2749 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 9.333px;
  height: 10.667px;
  display: flex;
}

.Svg_1_2750 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 9.333px;
  height: 10.667px;
  display: flex;
}

.Frame_1_2751 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 9.333px;
  height: 10.6667px;
  overflow: hidden;
}

.Div_1_2753 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 218.431px;
  height: 32px;
  display: flex;
}

.Div_1_2754 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 218.431px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.Pedido_532GeladosRefrescantes_1_2755 {
  color: #1f2937;
  flex-shrink: 0;
  width: 219.556px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Div_1_2756 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 14.222px;
  padding: 0 167.431px 1.222px 0;
  display: flex;
}

.Concluído_1_2757 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2758 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  width: 312.889px;
  height: 145.778px;
}

.TarefasPendentes_1_2759 {
  color: #6b7280;
  flex-shrink: 0;
  width: 112px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.444px;
  display: inline-block;
}

.Frame_1_2760 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 10.889px;
  height: 12.4444px;
  display: flex;
  overflow: hidden;
}

.Frame_1_2761 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 10.889px;
  height: 12.4444px;
  overflow: hidden;
}

.Div_1_2763 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 117.333px;
  padding-bottom: 0;
  display: flex;
}

.Div_1_2764 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 53.333px;
  padding: 10.667px 48.611px 10.667px 10.667px;
  display: flex;
}

.Div_1_2765 {
  background: var(--Cor1A, #e73664);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 28.444px;
  height: 28.444px;
  padding: 8.889px 0;
  display: flex;
}

.I_1_2766 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1.333px;
  height: 10.667px;
  display: flex;
}

.Svg_1_2767 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1.333px;
  height: 10.667px;
  display: flex;
}

.Frame_1_2768 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 1.333px;
  height: 10.6667px;
  overflow: hidden;
}

.Div_1_2770 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 0.0000267029px;
  width: 214.5px;
  height: 32px;
  display: flex;
}

.Div_1_2771 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 214.5px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.PedidosAguardandoAtendimento_1_2772 {
  color: #1f2937;
  flex-shrink: 0;
  width: 215.111px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Div_1_2773 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 14.222px;
  padding: 0 173.5px 1.222px 0;
  display: flex;
}

.Urgente_1_2774 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2775 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 53.333px;
  padding: 10.667px 43.222px 10.667px 10.667px;
  display: flex;
}

.Div_1_2776 {
  box-sizing: border-box;
  background: #e736641a;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 28.444px;
  height: 28.444px;
  padding: 8.889px 7.556px;
  display: flex;
}

.I_1_2777 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 13.333px;
  height: 10.667px;
  display: flex;
}

.Svg_1_2778 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 13.333px;
  height: 10.667px;
  display: flex;
}

.Frame_1_2779 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 13.333px;
  height: 10.6667px;
  overflow: hidden;
}

.Div_1_2781 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 0.0000267029px;
  width: 219.889px;
  height: 32px;
  display: flex;
}

.Div_1_2782 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 219.889px;
  height: 17.778px;
  padding: 0.889px 0.333px 1.778px 0;
  display: flex;
}

.ClientesAguardandoConfiguração_1_2783 {
  color: #1f2937;
  flex-shrink: 0;
  width: 219.556px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Div_1_2784 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 14.222px;
  padding: 0 133.889px 1.222px 0;
  display: flex;
}

.PrioridadeMédia_1_2785 {
  color: #6b7280;
  font-family: Inter;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.Div_1_2786 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  gap: 36.0001px;
  width: 1138px;
  height: 373px;
  display: flex;
}

.Div_1_2787 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 355.556px;
  height: 373.333px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.H2_1_2788 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  height: 24.889px;
  padding: 2.667px 165.333px 3.556px 0;
  display: inline-flex;
}

.ResumoFinanceiro_1_2789 {
  color: #1f2937;
  width: 147.556px;
  height: 18.667px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}

.Div_1_2790 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 12.4444px;
  height: 124.444px;
  display: flex;
}

.SaldosDeContasPrincipais_1_2791 {
  color: #6b7280;
  flex-shrink: 0;
  width: 166.222px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.444px;
  display: inline-block;
}

.Div_1_2792 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10.6667px;
  width: 312.889px;
  height: 96px;
  padding-bottom: 0;
  display: flex;
}

.Div_1_2793 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 58.9028px;
  width: 312.889px;
  height: 42.667px;
  padding: 10.667px;
  display: flex;
}

.Div_1_2794 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 7.11111px;
  width: 165.861px;
  height: 17.778px;
  padding: 0.889px 0.528px 1.778px 0;
  display: flex;
}

.Frame_1_2795 {
  justify-content: center;
  align-items: center;
  height: 14.2222px;
  display: flex;
  overflow: hidden;
}

.Frame_1_2796 {
  fill: #0000;
  box-sizing: border-box;
  width: 14.222px;
  height: 14.2222px;
  overflow: hidden;
}

.ContaBancáriaPrincipal_1_2798 {
  color: #1f2937;
  flex-shrink: 0;
  width: 144px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.Span_1_2799 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 66.792px;
  height: 21.333px;
  padding: 1.778px 0;
  display: flex;
}

.R_17_250_1_2800 {
  color: #1f2937;
  flex-shrink: 0;
  width: 68.444px;
  height: 17.778px;
  font-family: Inter;
  font-size: 14.222px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.Div_1_2801 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 97.7778px;
  width: 312.889px;
  height: 42.667px;
  padding: 10.667px;
  display: flex;
}

.Div_1_2802 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 7.11111px;
  width: 130.056px;
  height: 17.778px;
  padding: 0.889px 0.278px 1.778px 0;
  display: flex;
}

.Frame_1_2803 {
  justify-content: center;
  align-items: center;
  height: 14.2222px;
  display: flex;
  overflow: hidden;
}

.Frame_1_2804 {
  fill: #0000;
  box-sizing: border-box;
  width: 16px;
  height: 14.2222px;
  overflow: hidden;
}

.DinheiroEmCaixa_1_2806 {
  color: #1f2937;
  flex-shrink: 0;
  width: 106.667px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.Span_1_2807 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 63.722px;
  height: 21.333px;
  padding: 1.778px 0;
  display: flex;
}

.R_3_450_1_2808 {
  color: #1f2937;
  flex-shrink: 0;
  width: 64px;
  height: 17.778px;
  font-family: Inter;
  font-size: 14.222px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.Div_1_2809 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 12.4444px;
  height: 145.778px;
  padding: 0.889px 0 0;
  display: flex;
}

.ReceitaVsDespesasMêsAtual_1_2810 {
  color: #6b7280;
  flex-shrink: 0;
  width: 198.222px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.444px;
  display: inline-block;
}

.Div_1_2811 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 312.889px;
  height: 117.333px;
  display: flex;
}

.Div_1_2812 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 135.097px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.ReceitaTotal_1_2813 {
  color: #4b5563;
  width: 76.444px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.R_54_200_1_2814 {
  color: #1f2937;
  width: 73.778px;
  height: 17.778px;
  font-family: Inter;
  font-size: 14.222px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.222px;
  display: inline-block;
}

.Div_1_2815 {
  box-sizing: border-box;
  background: #e5e7eb;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  align-items: center;
  height: 8.889px;
  padding-right: 71.111px;
  display: inline-flex;
}

.Div_1_2816 {
  background: var(--Cor1A, #e73664);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  width: 213.333px;
  height: 8.889px;
}

.Div_1_2817 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 114.931px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.DespesasTotais_1_2818 {
  color: #4b5563;
  width: 96.889px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.444px;
  display: inline-block;
}

.R_28_500_1_2819 {
  color: #1f2937;
  width: 73.778px;
  height: 17.778px;
  font-family: Inter;
  font-size: 14.222px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.222px;
  display: inline-block;
}

.Div_1_2820 {
  box-sizing: border-box;
  background: #e5e7eb;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  flex-shrink: 0;
  align-items: center;
  height: 8.889px;
  padding-right: 170.667px;
  display: inline-flex;
}

.Div_1_2821 {
  box-sizing: border-box;
  background: #6b7280;
  border: 0 solid #e5e7eb;
  border-radius: 8888px;
  width: 113.778px;
  height: 8.889px;
}

.Div_1_2822 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14.2222px;
  width: 355.556px;
  height: 373.333px;
  padding: 21.333px 21.333px 117.333px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.H2_1_2823 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  width: 312.889px;
  height: 24.889px;
  padding: 2.667px 111.111px 3.556px 0;
  display: flex;
}

.CategoriasMaisVendidas_1_2824 {
  color: #1f2937;
  flex-shrink: 0;
  width: 201.778px;
  height: 18.667px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}

.Div_1_2825 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 312.889px;
  height: 195.556px;
  display: flex;
}

.Canvas_1_2826 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  width: 312.889px;
  height: 195.556px;
}

.Div_1_2827 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 28.444px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14.2222px;
  width: 355.556px;
  height: 373.333px;
  padding: 21.333px 21.333px 160px;
  display: flex;
  box-shadow:
    0 0.889px 1.778px #0000001a,
    0 0.889px 2.667px #0000001a;
}

.H2_1_2828 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  align-items: center;
  width: 312.889px;
  height: 24.889px;
  padding: 2.667px 198.222px 3.556px 0;
  display: flex;
}

.AçõesRápidas_1_2829 {
  color: #1f2937;
  flex-shrink: 0;
  width: 114.667px;
  height: 18.667px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}

.Div_1_2830 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-flow: row;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 312.889px;
  height: 152.889px;
  display: flex;
}

.Button_1_2831 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 7.11111px;
  width: 151.111px;
  height: 71.111px;
  padding: 14.222px 22.083px 14.222px 22.07px;
  display: flex;
}

.I_1_2832 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 17.778px;
  height: 17.778px;
  display: flex;
}

.Svg_1_2833 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 17.778px;
  height: 17.778px;
  display: flex;
}

.Frame_1_2834 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 17.778px;
  height: 17.7778px;
  overflow: hidden;
}

.Span_1_2836 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 106.958px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.NovoPedido_1_2837 {
  color: #374151;
  text-align: center;
  flex-shrink: 0;
  width: 107.556px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Button_1_2838 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 7.11111px;
  width: 151.111px;
  height: 71.111px;
  padding: 14.222px 24.708px;
  display: flex;
}

.I_1_2839 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 22.222px;
  height: 17.778px;
  display: flex;
}

.Svg_1_2840 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 22.222px;
  height: 17.778px;
  display: flex;
}

.Frame_1_2841 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 22.222px;
  height: 17.7778px;
  overflow: hidden;
}

.Span_1_2843 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 101.694px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.AdicionarCliente_1_2844 {
  color: #374151;
  text-align: center;
  flex-shrink: 0;
  width: 102.222px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Button_1_2845 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 7.11111px;
  width: 151.111px;
  height: 71.111px;
  padding: 14.222px 40.528px;
  display: flex;
}

.I_1_2846 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 13.333px;
  height: 17.778px;
  display: flex;
}

.Svg_1_2847 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 13.333px;
  height: 17.778px;
  display: flex;
}

.Frame_1_2848 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 13.333px;
  height: 17.7778px;
  overflow: hidden;
}

.Span_1_2850 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 70.056px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.CriarFatura_1_2851 {
  color: #374151;
  text-align: center;
  flex-shrink: 0;
  width: 71.111px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Button_1_2852 {
  box-sizing: border-box;
  background: #f0f7ff;
  border: 0 solid #e5e7eb;
  border-radius: 21.333px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 7.11111px;
  width: 151.111px;
  height: 71.111px;
  padding: 14.222px 30.972px;
  display: flex;
}

.I_1_2853 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 17.778px;
  display: flex;
}

.Svg_1_2854 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 17.778px;
  display: flex;
}

.Frame_1_2855 {
  fill: #0000;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 20px;
  height: 17.7778px;
  overflow: hidden;
}

.Span_1_2857 {
  box-sizing: border-box;
  background: 0 0;
  border: 0 solid #e5e7eb;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 89.167px;
  height: 17.778px;
  padding: 0.889px 0 1.778px;
  display: flex;
}

.GerarRelatório_1_2858 {
  color: #374151;
  text-align: center;
  flex-shrink: 0;
  width: 89.778px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}

.Footer_1_2859 {
  background: var(--FundoBranco, #fff);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  display: flex;
  box-shadow: 0 -1px 1.78px #0000001a;
}

.SorvetãoTodosOsDireitosReservados_1_2862 {
  color: #9ca3af;
  text-align: center;
  width: 333.333px;
  height: 15.111px;
  font-family: Inter;
  font-size: 12.444px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
